* ::-webkit-scrollbar {
    display: none;
}

* ::-webkit-scrollbar-button {
    background: transparent!important;
}

*::-webkit-scrollbar-track-piece {
    background: transparent!important;
}

* ::-webkit-scrollbar-thumb {
    background: transparent!important;
}

* {
    font-family: 'Lato';
}

.swiper-pagination {
    color: #525967!important;
}

.color-normal::placeholder {
    color: #2B64F5;
    font-size: 14px;
    font-weight: 400;
}

.no-repeat {
    background-repeat: no-repeat;
}